<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div>
        <div>
            <form method="get">
                <select name="routes" size="4">
                    {% for num, route in routes.items() %}
                        <option value="{{ num }}">{{ route }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>